Repository ethicalcapital/ethicic-public: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  pass_filenames: true
  require_serial: true

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix
  pass_filenames: true
  require_serial: true

fix: Add css_monitoring_report.json to .gitignore to prevent recurring issues
  .gitignore
  css_monitoring.py
  css_monitoring_report.json
Due: none

fix: Ensure consistent CTA button sizing in contact page sidebar
  static/css/contact-page-fixes.css
  templates/public_site/contact_page.html
Due: stylelint

fix: Header GET STARTED button now displays with purple text on white background
  static/css/z-final-button-contrast-fix.css
  templates/public_site/base.html
Due: stylelint

fix: Make header GET STARTED button visible with white background and purple border
  static/css/z-final-button-contrast-fix.css
  templates/public_site/base.html
Due: stylelint

feat: Create dedicated header-primary button variant for header CTA
  static/css/header-button-fix.css
  static/css/z-final-button-contrast-fix.css
  templates/public_site/base.html
Due: stylelint

fix: Add proper styling for buttons on purple/colored backgrounds
  static/css/button-on-color-fix.css
  templates/public_site/base.html
Due: stylelint

fix: Make GET STARTED button visible on process page CTA panel
  static/css/button-on-color-fix.css
  templates/public_site/base.html
Due: stylelint

feat: Make co-client section fully conditional in onboarding form
  static/css/onboarding-comprehensive.css
  templates/public_site/onboarding_page_comprehensive.html
Due: stylelint

Add aggressive mobile menu debug CSS with maximum specificity
  public_site/db_router.py
  public_site/tests/forms/README_ONBOARDING_TESTS.md
  public_site/tests/forms/test_contact_forms.py
  public_site/tests/integration/test_user_flows.py
  public_site/tests/test_base.py
  public_site/tests/test_database_optimizations.py
  public_site/tests/views/test_form_views.py
  public_site/views.py
  static/css/mobile-menu-debug-aggressive.css
  templates/public_site/base.html
Due: stylelint

Add inline styles to force hamburger menu visibility
  public_site/db_router.py
  templates/public_site/base.html
Due: none

Fix hamburger menu with Alpine.js x-show and inline styles
  templates/public_site/base.html
Due: none

Implement clean navigation system with wagtailmenus
  ethicic/settings.py
  public_site/models.py
  public_site/urls.py
  public_site/views.py
  requirements.txt
  templates/public_site/base_clean_navigation.html
  templates/public_site/test_clean_nav.html
  templates/wagtailmenus/main_menu.html
  templates/wagtailmenus/mobile_menu.html
Due: none

Clean up hamburger menu implementation and remove debug styling
  .stylelintrc.json
  CMS_EDITABILITY_REPORT.md
  public_site/migrations/0026_remove_homepage_defaults.py
  public_site/migrations/0027_alter_aboutpage_bluesky_url_and_more.py
  public_site/models.py
  static/css/mobile-menu-clean.css
  static/css/mobile-menu-debug-aggressive.css
  static/css/mobile-menu-debug.css
  templates/public_site/base_clean_navigation.html
  templates/public_site/base_production.html
Due: stylelint

Fix 500 error: Use correct wagtailmenus template tag library
  ethicic/settings.py
  preserve_pricingpage_content.py
  pricing_page_defaults.py
  public_site/migrations/0027_alter_aboutpage_bluesky_url_and_more.py
  public_site/migrations/0028_remove_aboutpage_defaults.py
  public_site/models.py
  public_site/urls.py
  templates/public_site/base.html
  templates/public_site/base_production.html
  tests/conftest.py
Due: none

Fix CSS file paths: Use correct garden-ui-theme.css filename
  advisor_page_defaults.py
  preserve_advisorpage_content.py
  pricing_page_defaults.py
  public_site/migrations/0029_remove_pricingpage_defaults.py
  templates/public_site/base.html
  templates/public_site/base_production.html
Due: none

Fix header height: Reduce excessive vertical space
  advisor_page_defaults.py
  preserve_advisorpage_content.py
  preserve_institutional_content.py
  public_site/migrations/0029_remove_pricingpage_defaults.py
  public_site/migrations/0030_remove_advisorpage_defaults.py
  public_site/models.py
  static/css/header-height-fix.css
  templates/public_site/base.html
  templates/public_site/base_production.html
Due: stylelint

Fix header layout and dark mode visibility
  preserve_institutional_content.py
  public_site/migrations/0031_remove_institutional_defaults.py
  public_site/migrations/0032_remove_processpage_defaults.py
  public_site/models.py
  static/css/header-height-fix.css
  templates/public_site/base.html
Due: stylelint

Fix header layout with more targeted CSS
  static/css/header-height-fix.css
  templates/public_site/base.html
Due: stylelint

Fix page width constraints for all content
  static/css/page-width-fix.css
  templates/public_site/base.html
Due: stylelint

Fix footer display and CSS rendering issues
  static/css/footer-fix.css
  static/css/page-width-fix.css
  templates/public_site/base.html
Due: stylelint

Fix skip links visibility - hide accessibility links by default
  static/css/footer-fix.css
  templates/public_site/base.html
Due: stylelint

Fix login dropdown positioning - prevent expansion within header
  static/css/header-height-fix.css
  templates/public_site/base.html
Due: stylelint

Complete CSS fixes and model migrations
  complete_final_check.py
  content_backup_before_migration_20250711_224249.json
  custom_defaults_backup_20250711_224112.json
  extract_custom_defaults.py
  extract_defaults.py
  mediapage_content_backup.json
  populate_empty_fields.py
  preserve_content_before_migration.py
  public_site/migrations/0033_remove_strategypage_defaults.py
  public_site/migrations/0034_remove_priddqpage_defaults.py
  public_site/migrations/0035_remove_contactform_solutions_defaults.py
  public_site/migrations/0036_remove_mediapage_defaults.py
  public_site/migrations/0037_remove_model_defaults_for_cms_editability.py
  public_site/models.py
  public_site/views.py
  remove_model_defaults.py
  static/css/16-homepage.css
  static/css/archived/strategy-card-text-fix.css
  static/css/archived/strategy-dark-mode-fix.css
  static/css/archived/strategy-final-fix.css
  static/css/core-styles.css
  static/css/garden-ui-theme.css
  static/css/header-height-fix.css
  static/css/header-text-fix.css
  static/css/mobile-nav-fix.css
  static/css/page-width-fix.css
  static/css/process-dark-mode-fix.css
  static/css/strategy-nuclear-fix.css
  static/css/wcag-contrast-fixes.css
  static/js/cta-button-fix.js
  static/js/strategy-card-color-fix.js
  templates/public_site/base.html
  templates/public_site/homepage_accessible.html
  templates/public_site/process_page.html
  wcag_contrast_audit_report.md
Due: stylelint, eslint

Fix strategy table CMS editability and update button text
  complete_final_check.py
  static/css/wcag-contrast-fixes.css
  static/js/cta-button-fix.js
Due: stylelint, eslint

Fix Garden UI component usage across all pages
  static/css/16-homepage.css
  static/css/blog-post-garden-ui-fix.css
  static/css/button-alignment-fix.css
  static/css/encyclopedia-page-fix.css
  static/css/header-text-fix.css
  static/css/layers/33-consultation-page.css
  templates/public_site/about_page.html
  templates/public_site/base.html
  templates/public_site/blog_index_page.html
  templates/public_site/blog_post.html
  templates/public_site/consultation_page.html
  templates/public_site/encyclopedia_index.html
  templates/public_site/research_page.html
Due: stylelint

Fix container borders and process step number alignment
  static/css/16-homepage.css
  static/css/container-structure-enhancements.css
Due: stylelint

Include container-structure-enhancements.css in base template
  templates/public_site/base.html
Due: none

Fix theme persistence - prevent reverting to light mode
  TESTING_IMPROVEMENTS.md
  ethicic/settings.py
  public_site/context_processors.py
  public_site/forms.py
  public_site/standalone_email_utils.py
  public_site/tests/integration/test_user_flows.py
  public_site/tests/test_base.py
  public_site/urls.py
  public_site/views.py
  pytest.ini
  run_tests_fast.py
  static/css/blog-post-garden-ui-fix.css
  static/css/button-alignment-fix.css
  static/css/encyclopedia-page-fix.css
  static/css/header-text-fix.css
  static/css/layers/33-consultation-page.css
  templates/public_site/base.html
Due: stylelint

Fix search bar text visibility in light mode
  public_site/standalone_email_utils.py
  public_site/tests/test_database_optimizations.py
  static/css/header-text-fix.css
  templates/public_site/base.html
Due: stylelint

Enhance search bar text visibility with maximum specificity
  static/css/header-text-fix.css
Due: stylelint

Fix 404 page layout with proper Garden UI structure and spacing
  templates/404.html
Due: none

Fix search input editability with comprehensive CSS overrides
  static/css/search-fixes.css
Due: stylelint

Force search input text visibility with maximum CSS specificity
  static/css/search-fixes.css
Due: stylelint

Add nuclear option CSS fix for search input text visibility
  static/css/search-visibility-ultimate-fix.css
  templates/public_site/base.html
Due: stylelint

Remove debug styling from search input CSS
  public_site/management/commands/create_media_page.py
  public_site/management/commands/setup_wagtail_site.py
  public_site/tests/test_base_old.py
  public_site/tests/test_database_optimizations.py
  static/css/search-visibility-ultimate-fix.css
Due: stylelint

Add CSS fix for thin white line appearing in upper right corner
  static/css/fix-white-line.css
  templates/public_site/base.html
Due: stylelint

Fix test suite issues systematically - major improvements
  css_baseline.json
Due: none

Remove debug styling from search input, use theme variables
  static/css/search-fixes.css
  static/css/search-visibility-ultimate-fix.css
Due: stylelint

Add automated performance calculation system for strategy pages
  public_site/management/commands/import_performance_csv.py
  public_site/management/commands/show_performance.py
  public_site/migrations/0038_add_monthly_performance_fields.py
  public_site/models.py
  public_site/performance_system_readme.md
  public_site/utils/performance_calculator.py
Due: none

Path conditions:
  stylelint: any of: \.css$, but not: (?x)^(
  static/js/vendor/.*|
  node_modules/.*|
  \.git/.*|
  \.env.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  \.pyo$|
  \.coverage.*|
  htmlcov/.*|
  dist/.*|
  build/.*|
  \.egg-info/.*
)$

  eslint: any of: \.js$, but not: (?x)^(
  static/js/vendor/.*|
  node_modules/.*|
  \.git/.*|
  \.env.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  \.pyo$|
  \.coverage.*|
  htmlcov/.*|
  dist/.*|
  build/.*|
  \.egg-info/.*
)$

