Repository ethicalcapital/ethicic-public: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  pass_filenames: true
  require_serial: true

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix
  pass_filenames: true
  require_serial: true

Fix three core strategies table to have uniform column widths
  templates/public_site/homepage_tailwind.html
Due: none

Fix three core strategies table column widths and button sizing
  static/css/shared/garden-footer-shared.css
  static/css/shared/garden-header-shared.css
  templates/public_site/homepage_tailwind.html
Due: stylelint

Align strategy table buttons and add Summary label
  templates/public_site/base_tailwind.html
  templates/public_site/homepage_tailwind.html
Due: none

Add border outline to Schedule Consultation button
  templates/public_site/homepage_tailwind.html
Due: none

Update footer with ETHICAL branding and fix header responsive layout
  static/css/dist/tailwind.min.css
  static/css/tailwind-base.css
  templates/public_site/base_tailwind.html
Due: stylelint

Fix header layout issues - improve responsive behavior and button alignment
  static/css/dist/tailwind.min.css
  static/css/tailwind-base.css
Due: stylelint

Fix navigation and logo consistency issues
  static/css/dist/tailwind.min.css
  static/css/tailwind-base.css
  templates/public_site/base_tailwind.html
Due: stylelint

Fix critical accessibility issues based on audit
  docs/USABILITY_AUDIT_2025-01-28.md
  static/css/dist/tailwind.min.css
  static/css/tailwind-base.css
  templates/public_site/about_page.html
  templates/public_site/base_tailwind.html
  templates/public_site/strategy_list_tailwind.html
Due: stylelint

Fix contrast for Contact page subsection labels
  docs/ACCESSIBILITY_FIXES_2025-01-28.md
  static/css/dist/tailwind.min.css
  templates/public_site/base_tailwind.html
  templates/public_site/contact_page.html
  templates/public_site/faq_index_tailwind.html
  templates/public_site/process_page.html
Due: stylelint

Complete remaining accessibility fixes from audit
  static/css/dist/tailwind.min.css
  templates/public_site/blog_index_page.html
  templates/public_site/blog_post.html
  templates/public_site/faq_index_tailwind.html
  templates/public_site/homepage_tailwind.html
Due: stylelint

Fix encyclopedia routing - use regex to only match single letters
  public_site/models.py
  pyproject.toml
  templates/public_site/encyclopedia_index.html
  uv.lock
Due: none

Fix encyclopedia letter filtering - add validation logic
  public_site/models.py
Due: none

Fix encyclopedia routing conflicts - use dedicated letter filter URLs
  public_site/models.py
  templates/public_site/encyclopedia_entry.html
Due: none

🎯 Comprehensive responsive breakpoint fixes
  templates/public_site/base_tailwind.html
  templates/public_site/homepage_tailwind.html
Due: none

🔧 Fix header navigation and layout issues
  templates/public_site/base_tailwind.html
Due: none

Add interactive performance charts and enhanced YouTube embedding
  docs/YouTube_Video_Implementation.md
  public_site/blocks.py
  public_site/migrations/0041_alter_blogpost_content_alter_supportticket_status.py
  public_site/templatetags/blog_filters.py
  public_site/urls.py
  public_site/views.py
  static/js/performance-chart.js
  templates/components/performance_chart.html
  templates/public_site/base_tailwind.html
  templates/public_site/blocks/divider_block.html
  templates/public_site/blocks/video_block.html
  templates/public_site/blocks/youtube_video_block.html
  templates/public_site/homepage_tailwind.html
  templates/public_site/strategy_page_editable.html
  templates/wagtailmenus/main_menu_tailwind.html
  test_chart.html
Due: eslint

Fix YouTube template import causing 500 error
  deployment_surveillance.md
  templates/public_site/blocks/youtube_video_block.html
Due: none

Debug: temporarily disable performance chart to isolate 500 error
  public_site/views.py
  templates/public_site/homepage_tailwind.html
Due: none

Fix missing static template tag in homepage
  deployment-monitoring.md
  templates/public_site/homepage_tailwind.html
Due: none

Re-enable interactive performance chart
  deployment-monitoring.md
  templates/public_site/homepage_tailwind.html
Due: none

Remove performance chart from homepage - move to strategy pages only
  .claude/deployment_sentinel_log.md
  templates/public_site/homepage_tailwind.html
Due: none

Add comprehensive cross-browser compatibility fixes
  static/css/browser-compatibility-fixes.css
  static/js/browser-compatibility.js
  templates/public_site/base_tailwind.html
Due: stylelint, eslint

Implement unified button system to fix Chrome vs Chromium differences
  static/css/button-system-unified.css
  templates/public_site/base_tailwind.html
Due: stylelint

Revert "Implement unified button system to fix Chrome vs Chromium differences"
  static/css/button-system-unified.css
  templates/public_site/base_tailwind.html
Due: stylelint

Add surgical Chromium-specific fixes to match Chrome appearance
  static/css/chromium-specific-fixes.css
  templates/public_site/base_tailwind.html
Due: stylelint

CRITICAL FIX: Replace aggressive emergency CSS with intelligent text visibility
  static/css/intelligent-text-visibility.css
  templates/public_site/base_tailwind.html
Due: stylelint

Revert "CRITICAL FIX: Replace aggressive emergency CSS with intelligent text visibility"
  static/css/intelligent-text-visibility.css
  templates/public_site/base_tailwind.html
Due: stylelint

Add surgical text fixes while preserving dark theme design
  static/css/surgical-text-fixes.css
  templates/public_site/base_tailwind.html
Due: stylelint

Fix PostHog enableExceptionAutocapture error
  templates/public_site/base_tailwind.html
Due: none

Fix PostHog get_config error - replace with hostname check
  templates/public_site/base_tailwind.html
Due: none

Add Google Tag Manager tracking code
  .claude/deployment_tracking.md
  deployment-monitoring.md
  deployment-validation-report.md
  deployment_monitoring.md
  security-report.md
  static/css/archive/security-fixes-2025-01/MIGRATION_SUMMARY.md
  static/css/archive/security-fixes-2025-01/emergency-text-visibility-secure.css
  static/css/archive/security-fixes-2025-01/prose-typography.css
  static/css/archive/security-fixes-2025-01/responsive-layout-container.css
  static/css/archive/security-fixes-2025-01/surgical-text-fixes.css
  static/css/dist/tailwind.min.css
  static/css/emergency-text-visibility-secure.css
  static/css/ethicic-design-system.css
  static/css/prose-typography.css
  static/css/responsive-layout-container.css
  static/js/browser-compatibility.js
  templates/public_site/base_tailwind.html
Due: stylelint, eslint

Mark repository as deprecated with comprehensive feature inventory
  DEPRECATED.md
  README.md
Due: none

Expand DEPRECATED.md with comprehensive implementation details
  DEPRECATED.md
Due: none

Path conditions:
  stylelint: any of: \.css$, but not: (?x)^(
  static/js/vendor/.*|
  node_modules/.*|
  \.git/.*|
  \.env.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  \.pyo$|
  \.coverage.*|
  htmlcov/.*|
  dist/.*|
  build/.*|
  \.egg-info/.*
)$

  eslint: any of: \.js$, but not: (?x)^(
  static/js/vendor/.*|
  node_modules/.*|
  \.git/.*|
  \.env.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  \.pyo$|
  \.coverage.*|
  htmlcov/.*|
  dist/.*|
  build/.*|
  \.egg-info/.*
)$

