Repository ethicalcapital/ethicic-public: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  pass_filenames: true
  require_serial: true

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix
  pass_filenames: true
  require_serial: true

Fix footer to show 5 columns and add bottom spacing
  templates/public_site/base_tailwind.html
Due: none

Fix footer grid breakpoint for desktop
  templates/public_site/base_tailwind.html
Due: none

Force 5-column footer layout with custom CSS
  templates/public_site/base_tailwind.html
Due: none

Center footer columns
  templates/public_site/base_tailwind.html
Due: none

Keep footer text left-aligned
  templates/public_site/base_tailwind.html
Due: none

Fix BlogPost StreamField content-count error
  CLAUDE.md
  public_site/management/commands/generate_brochure_pdfs.py
  public_site/services/__init__.py
  public_site/services/brochure_service.py
  public_site/urls.py
  public_site/urls/pdf_urls.py
  public_site/utils/pdf_generator.py
  public_site/utils/pdf_generator_simple.py
  public_site/views/__init__.py
  public_site/views/pdf_views.py
  public_site/wagtail_hooks.py
  pyproject.toml
  static/css/pdf-styles.css
  templates/admin/pdf_generator.html
  templates/pdf/base_pdf.html
  templates/pdf/custom_prospect.html
  templates/public_site/base_tailwind.html
  templates/wagtailmenus/main_menu_mobile_tailwind.html
  templates/wagtailmenus/main_menu_tailwind.html
  test_executive_fallback.pdf
  test_executive_summary.pdf
  uv.lock
Due: stylelint

Remove PDF generation files causing import errors
  public_site/management/commands/generate_brochure_pdfs.py
  public_site/services/brochure_service.py
  public_site/urls.py
  public_site/urls/pdf_urls.py
  public_site/utils/pdf_generator.py
  public_site/utils/pdf_generator_simple.py
  public_site/views/__init__.py
  public_site/views/pdf_views.py
  pyproject.toml
  static/css/pdf-styles.css
  templates/admin/pdf_generator.html
  templates/pdf/base_pdf.html
  templates/pdf/custom_prospect.html
  test_executive_fallback.pdf
  test_executive_summary.pdf
Due: stylelint

Fix views import error in public_site urls
  public_site/urls.py
Due: none

Fix incorrect Django import in urls.py
  public_site/urls.py
Due: none

Fix import conflict between views.py and views directory
  public_site/views/__init__.py
Due: none

Fix incorrect tailwind command in runtime_init.sh
  runtime_init.sh
Due: none

Update Wagtail from 7.0.1 to 7.1
  pyproject.toml
  uv.lock
Due: none

Fix StreamField not appearing in BlogPost admin
  IMPORT_AUDIT_REPORT.md
  public_site/models.py
  public_site/wagtail_hooks.py
Due: none

Fix BlogPost StreamField content-count error
  public_site/models.py
  public_site/wagtail_hooks.py
Due: none

Add 'as of' date display for strategy page performance data
  public_site/models.py
  templates/public_site/strategy_page_editable.html
Due: none

Configure Cloudflare R2 storage for media files
  .env.example
  docs/MEDIA_STORAGE_SETUP.md
  ethicic/settings.py
  public_site/management/commands/check_featured_images.py
  templates/public_site/blog_post.html
Due: none

Fix NameError in settings - use os.getenv instead of env
  ethicic/settings.py
Due: none

Fix R2 public URL configuration for image display
  .env.example
  docs/MEDIA_STORAGE_SETUP.md
  ethicic/settings.py
  public_site/management/commands/test_r2_storage.py
Due: none

Configure R2 with custom domain images.ec1c.com
  .env.example
  ethicic/settings.py
Due: none

Fix template syntax error in pri_ddq_page.html
  templates/public_site/pri_ddq_page.html
Due: none

Add PostHog analytics to the site
  templates/public_site/base_tailwind.html
Due: none

Set up PostHog error tracking for Python and JavaScript
  ethicic/settings.py
  public_site/context_processors.py
  public_site/middleware.py
  requirements.txt
  templates/public_site/base_tailwind.html
Due: none

Enhance PostHog error tracking implementation
  docs/POSTHOG_ERROR_TRACKING.md
  public_site/middleware.py
  static/js/test-error-tracking.js
  templates/public_site/base_tailwind.html
Due: eslint

Fix PostHog error tracking to use correct event format
  public_site/middleware.py
  static/js/test-error-tracking.js
  templates/public_site/base_tailwind.html
Due: eslint

Fix MediaItem admin error and improve PostHog error tracking
  ethicic/settings.py
  public_site/middleware.py
  public_site/urls.py
  public_site/wagtail_hooks.py
Due: none

Fix critical import error blocking site startup
  public_site/urls.py
  public_site/views.py
Due: none

Add PostHog debugging and improve error tracking
  public_site/middleware.py
  public_site/urls.py
  public_site/views.py
Due: none

Fix import errors in PostHog error tracking
  public_site/middleware.py
  public_site/views.py
Due: none

Enable PostHog error autocapture for JavaScript and Python
  ethicic/settings.py
  templates/public_site/base_tailwind.html
Due: none

Add PostHog exception format testing endpoint
  public_site/urls.py
  public_site/views.py
Due: none

Update fonts: Libre Baskerville for headers, Raleway for body text
  static/css/16-homepage-clean.css
  static/css/about-page-v2.css
  static/css/accessibility-consolidated.css
  static/css/blog-components-consolidated.css
  static/css/blog-consistency-consolidated.css
  static/css/blog-core-consolidated.css
  static/css/bundles/garden-ui-complete.css
  static/css/bundles/garden-ui-core.css
  static/css/core-styles.css
  static/css/dist/tailwind.min.css
  static/css/faq-page-fixes.css
  static/css/footer-clean.css
  static/css/garden-buttons-enhanced.css
  static/css/garden-layout-system.css
  static/css/garden-ui-buttons.css
  static/css/garden-ui-footer.css
  static/css/garden-ui-forms.css
  static/css/garden-ui-header.css
  static/css/garden-ui-layout.css
  static/css/garden-ui-navigation.css
  static/css/garden-ui-panels.css
  static/css/garden-ui-public.css
  static/css/garden-ui-responsive.css
  static/css/garden-ui-theme.css
  static/css/garden-ui-tokens.css
  static/css/garden-ui-typography.css
  static/css/header-text-clean.css
  static/css/login-dropdown-clean.css
  static/css/mobile-consolidated.css
  static/css/onboarding-page.css
  static/css/process-page.css
  static/css/responsive-breakpoints-fix.css
  static/css/responsive-layout-system.css
  static/css/search-clean.css
  static/css/tailwind-base.css
  static/css/tailwind-complete.css
  static/css/theme-overrides-clean.css
  static/css/typography-config.css
  tailwind.config.js
  templates/public_site/base_tailwind.html
Due: stylelint, eslint

Update site typography and navigation styling
  static/css/typography-config.css
  tailwind.config.js
  templates/public_site/base_tailwind.html
  templates/wagtailmenus/main_menu_tailwind.html
Due: stylelint, eslint

Update all remaining font references to use centralized typography
  static/css/16-homepage-clean.css
  static/css/bundles/garden-ui-complete.css
  static/css/bundles/garden-ui-core.css
  static/css/tailwind-complete.css
Due: stylelint

Centralize font control with font-heading class
  docs/TYPOGRAPHY_USAGE.md
  static/css/tailwind-complete.css
  tailwind.config.js
  templates/public_site/base_tailwind.html
  templates/public_site/homepage_tailwind.html
  templates/wagtailmenus/main_menu_mobile_tailwind.html
  templates/wagtailmenus/main_menu_tailwind.html
Due: stylelint, eslint

Standardize brand colors across the site
  docs/BRAND_COLORS.md
  static/css/emergency-text-visibility.css
  static/css/garden-ui-tokens.css
  static/css/tailwind-complete.css
  tailwind.config.js
Due: stylelint, eslint

Implement new ETHICAL logo and fix typography readability
  static/css/tailwind-complete.css
  templates/public_site/base_tailwind.html
  templates/public_site/homepage_tailwind.html
Due: stylelint

Fix logo and typography not displaying - add styles to tailwind-base.css
  static/css/dist/tailwind.min.css
  static/css/tailwind-base.css
Due: stylelint

Fix typography consistency - replace font-mono with Outfit for all headings (h1-h4)
  static/css/dist/tailwind.min.css
  static/css/tailwind-base.css
  templates/public_site/about_page.html
  templates/public_site/accessibility_page.html
  templates/public_site/adviser_page.html
  templates/public_site/archive/unused_pages/blog_index_tailwind.html
  templates/public_site/archive/unused_pages/blog_post_tailwind.html
  templates/public_site/base_tailwind.html
  templates/public_site/blog_index_page.html
  templates/public_site/blog_post.html
  templates/public_site/compliance_page.html
  templates/public_site/consultation_page.html
  templates/public_site/contact_page.html
  templates/public_site/contact_page_broken.html
  templates/public_site/criteria_page_editable.html
  templates/public_site/encyclopedia_index.html
  templates/public_site/faq_index_tailwind.html
  templates/public_site/faq_page_tailwind.html
  templates/public_site/pricing_page.html
  templates/public_site/process_page.html
  templates/public_site/solutions_page_editable.html
  templates/public_site/strategy_list_tailwind.html
  templates/public_site/strategy_page_editable.html
Due: stylelint

Create shared Garden UI design token system
  garden-ui-handoff.md
  static/css/garden-ui-tokens.css
  static/css/shared/README.md
  static/css/shared/garden-brand-tokens.css
  static/css/shared/garden-component-base.css
  templates/public_site/base_tailwind.html
Due: stylelint

Path conditions:
  stylelint: any of: \.css$, but not: (?x)^(
  static/js/vendor/.*|
  node_modules/.*|
  \.git/.*|
  \.env.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  \.pyo$|
  \.coverage.*|
  htmlcov/.*|
  dist/.*|
  build/.*|
  \.egg-info/.*
)$

  eslint: any of: \.js$, but not: (?x)^(
  static/js/vendor/.*|
  node_modules/.*|
  \.git/.*|
  \.env.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  \.pyo$|
  \.coverage.*|
  htmlcov/.*|
  dist/.*|
  build/.*|
  \.egg-info/.*
)$

