Repository ethicalcapital/ethicic-public: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  pass_filenames: true
  require_serial: true

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix
  pass_filenames: true
  require_serial: true

Fix media file serving in production - enable Wagtail image renditions
  ethicic/urls.py
Due: none

Fix Wagtail image uploads - remove media directory from .gitignore
  .gitignore
Due: none

Fix migration dependency error - correct Wagtail core reference
  public_site/migrations/0039_add_newsletter_accessibility_models.py
Due: none

Fix migration dependency - remove problematic Wagtail core reference
  public_site/migrations/0039_add_newsletter_accessibility_models.py
Due: none

Add media debug command to investigate image upload issues
  public_site/management/commands/debug_media.py
Due: none

Fix Docker media directory permissions for image uploads
  Dockerfile
Due: none

Configure Cloudflare R2 storage for persistent media files
  ethicic/settings.py
  requirements.txt
Due: none

Fix Django storage configuration - use STORAGES setting for Django 5.1
  ethicic/settings.py
Due: none

Fix storage configuration conflicts causing 500 errors
  ethicic/settings.py
Due: none

Fix missing staticfiles manifest errors
  ethicic/settings.py
Due: none

Fix Wagtail storage configuration for R2 cloud storage
  ethicic/settings.py
Due: none

Add R2 storage diagnostic command for troubleshooting
  public_site/management/commands/test_r2_storage.py
Due: none

Add R2 debug endpoint for troubleshooting
  ethicic/urls.py
Due: none

Add R2 storage test to debug endpoint
  ethicic/urls.py
Due: none

Add detailed error logging to R2 debug test
  ethicic/urls.py
Due: none

Simplify debug endpoint to avoid crashes
  ethicic/urls.py
Due: none

Add comprehensive image debugging endpoints
  ethicic/urls.py
Due: none

Add Wagtail image test to health endpoint
  ethicic/urls.py
Due: none

Add Wagtail image settings and permission fix command
  ethicic/settings.py
  public_site/management/commands/fix_image_permissions.py
Due: none

Switch to local disk storage at /var/lib/data
  Dockerfile
  ethicic/settings.py
  ethicic/urls.py
Due: none

Add media file listing to debug endpoint
  ethicic/urls.py
Due: none

Add image processing settings and debug command
  ethicic/settings.py
  public_site/management/commands/debug_images.py
Due: none

Add media serving test endpoint
  ethicic/urls.py
Due: none

Add direct media file serving view for production
  ethicic/urls.py
Due: none

Simplify media file serving security check
  ethicic/urls.py
Due: none

Fix S&P 500 statistics layout and light mode contrast
  static/css/16-homepage.css
  static/css/accessibility-contrast-fixes.css
  templates/public_site/homepage_accessible.html
Due: stylelint

Fix login dropdown visibility in light mode
  static/css/login-dropdown-fix.css
Due: stylelint

Enhance login dropdown light mode fix with absolute override
  static/css/login-dropdown-fix.css
Due: stylelint

Fix login dropdown white text issue in light mode
  static/css/login-dropdown-fix.css
Due: stylelint

Bust CSS cache for login dropdown fix
  templates/public_site/base.html
  templates/public_site/base_updated.html
Due: none

Implement comprehensive blog design improvements
  public_site/models.py
  static/css/garden-blog.css
  templates/public_site/blog_index_page.html
Due: stylelint

URGENT: Fix broken blog layout - restore sidebar positioning
  static/css/garden-blog.css
  templates/public_site/blog_index_page.html
Due: stylelint

Refine blog design with purple featured article and sidebar improvements
  static/css/garden-blog.css
  templates/public_site/blog_index_page.html
Due: stylelint

Fix featured article purple background with stronger CSS selectors
  static/css/garden-blog.css
  templates/public_site/blog_index_page.html
Due: stylelint

Fix blog sidebar iframe-like isolation issue
  static/css/garden-blog-sidebar.css
  static/css/garden-blog.css
  templates/public_site/blog_index_page.html
Due: stylelint

Transform blog article list from unstyled links to professional cards
  static/css/garden-blog.css
  templates/public_site/blog_index_page.html
Due: stylelint

Fix critical accessibility and mobile UX issues
  .stylelintrc.json
  static/css/accessibility-touch-targets.css
  static/css/garden-ui-theme.css
  static/css/onboarding-mobile-optimization.css
  static/css/responsive-breakpoints-fix.css
  static/js/garden-core.js
  templates/public_site/base.html
Due: stylelint, eslint

Update CSS baseline for accessibility and mobile fixes
  css_baseline.json
Due: none

Path conditions:
  stylelint: any of: \.css$, but not: (?x)^(
  static/js/vendor/.*|
  node_modules/.*|
  \.git/.*|
  \.env.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  \.pyo$|
  \.coverage.*|
  htmlcov/.*|
  dist/.*|
  build/.*|
  \.egg-info/.*
)$

  eslint: any of: \.js$, but not: (?x)^(
  static/js/vendor/.*|
  node_modules/.*|
  \.git/.*|
  \.env.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  \.pyo$|
  \.coverage.*|
  htmlcov/.*|
  dist/.*|
  build/.*|
  \.egg-info/.*
)$

