Repository ethicalcapital/ethicic-public: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Configuration
default_install_hook_types: [pre-commit]
fail_fast: false
repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # CSS linting with stylelint
  - repo: local
    hooks:
      - id: stylelint
        name: Stylelint
        entry: npx stylelint
        language: system
        files: \.css$
        args: [--fix]
        pass_filenames: true
        require_serial: true

  # JavaScript linting with ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.js$
        args: [--fix]
        pass_filenames: true
        require_serial: true

  # Security checks - disabled due to version compatibility issues
  # - repo: https://github.com/Yelp/detect-secrets
  #   rev: v1.4.0
  #   hooks:
  #     - id: detect-secrets
  #       args: ['--baseline', '.secrets.baseline']

  # Django checks
  - repo: local
    hooks:
      - id: django-check
        name: Django Check
        entry: python manage.py check
        language: system
        pass_filenames: false
        always_run: true

      - id: django-migrations-check
        name: Django Migrations Check
        entry: python manage.py makemigrations --check --dry-run
        language: system
        pass_filenames: false
        always_run: true

# Global excludes
exclude: |
  (?x)^(
    static/js/vendor/.*|
    node_modules/.*|
    \.git/.*|
    \.env.*|
    venv/.*|
    __pycache__/.*|
    \.pyc$|
    \.pyo$|
    \.coverage.*|
    htmlcov/.*|
    dist/.*|
    build/.*|
    \.egg-info/.*
  )$

Fix CTA color contrast for WCAG AA compliance
  templates/public_site/base.html
Due: none

Preserve dark purple navigation, apply Tiffany blue to CTAs only
  templates/public_site/base.html
Due: none

Style footer with dark purple background and readable text
  templates/public_site/base.html
Due: none

Fix footer text visibility with comprehensive white text styling
  templates/public_site/base.html
Due: none

Add high-specificity selectors for light mode footer text
  templates/public_site/base.html
Due: none

Override body color inheritance for footer text in light mode
  templates/public_site/base.html
Due: none

Ultimate CSS specificity fix for footer text colors
  templates/public_site/base.html
Due: none

Fix CSS architecture: proper footer colors across all pages
  .stylelintrc.json
  static/css/footer-fix.css
  templates/public_site/base.html
Due: stylelint

Force footer styling with \!important declarations
  static/css/footer-fix.css
  templates/public_site/base.html
Due: stylelint

Force all footer text colors with \!important
  static/css/footer-fix.css
  templates/public_site/base.html
Due: stylelint

Override template body text color with specific footer selectors
  static/css/footer-fix.css
  templates/public_site/base.html
Due: stylelint

Maximum specificity selectors to override template body color
  static/css/footer-fix.css
  templates/public_site/base.html
Due: stylelint

SOLUTION: Move footer-fix.css to load after accessibility-contrast-fixes.css
  templates/public_site/base.html
Due: none

Force cache bust with footer-fix.css v=11
  templates/public_site/base.html
Due: none

ULTIMATE CSS specificity fix to override template inline styles
  static/css/footer-fix.css
  templates/public_site/base.html
Due: stylelint

Match footer background to site theme with thick accent border
  .claude/docs/investigation-2025-01-24.md
  WAGTAIL_IMAGE_UPLOAD_INVESTIGATION_REPORT.md
  diagnose_image_upload.py
  fix_media_permissions.py
  public_site/management/commands/setup_standalone.py
  public_site/management/commands/update_admin_password.py
  static/css/footer-fix.css
  static/css/login-dropdown-fix.css
  static/css/search-fixes.css
  static/css/search-visibility-ultimate-fix.css
  templates/public_site/base.html
  ux-audit-notes.md
  wagtail_403_solution.py
Due: stylelint

Implement automatic blog reading time calculation and enhance FAQ styling
  public_site/management/commands/update_reading_times.py
  public_site/models.py
  static/css/faq-blog-consistency.css
  templates/public_site/base.html
  templates/public_site/faq_page.html
Due: stylelint

Enhance FAQ featured section with premium visual design
  public_site/management/commands/update_reading_times.py
  public_site/models.py
  static/css/faq-blog-consistency.css
  templates/public_site/base.html
Due: stylelint

Simplify FAQ featured section: remove shadows and reduce gradient prominence
  public_site/models.py
  static/css/faq-blog-consistency.css
Due: stylelint

Fix code formatting from pre-commit hooks
  public_site/models.py
  static/css/faq-blog-consistency.css
Due: stylelint

Remove redundant hero panel from FAQ page
  templates/public_site/faq_index.html
Due: none

Update CSS baseline after template changes
  css_baseline.json
Due: none

Replace shadows with borders in FAQ featured section and fix CSS linting
  .stylelintrc.json
  static/css/faq-blog-consistency.css
Due: stylelint

Fix FAQ featured section shadows and CSS linting issues
  .stylelintrc.json
  static/css/faq-blog-consistency.css
Due: stylelint

Add FAQ excerpt styling and comprehensive shadow removal
  static/css/faq-blog-consistency.css
Due: stylelint

Ultra-aggressive shadow removal for FAQ featured section
  static/css/faq-blog-consistency.css
  templates/public_site/base.html
Due: stylelint

Fix 404 errors on FAQ article pages with URL redirects
  public_site/urls.py
Due: none

Implement comprehensive safe URL solution for Wagtail internal links
  public_site/models.py
  public_site/templatetags/safe_urls.py
  templates/public_site/blocks/button_block.html
Due: none

Fix critical 404 errors by repositioning orphaned pages in Wagtail tree
  BROKEN_LINKS_REPORT.md
  public_site/management/commands/fix_orphaned_pages.py
  public_site/models.py
  public_site/templatetags/safe_urls.py
Due: none

Fix broken links and improve mobile UX
  BROKEN_LINKS_FIX_PLAN.md
  COMPREHENSIVE_LINK_CHECK_FINAL_REPORT.md
  ENHANCED_LINK_CHECK_REPORT.md
  EXHAUSTIVE_BROKEN_LINKS_REPORT.md
  GITHUB_ISSUE_MISSING_IMAGES.md
  MISSING_INVESTVEGAN_CONTENT.md
  docs/comprehensive-broken-links-analysis-2025-01-24.md
  ethicic/urls.py
  exhaustive_link_report.json
  public_site/management/commands/find_references.py
  public_site/management/commands/fix_links_simple.py
  public_site/management/commands/fix_remaining_links.py
  public_site/management/commands/update_investvegan_urls.py
  public_site/urls.py
  static/css/footer-fix.css
  static/css/mobile-menu-override.css
  templates/public_site/blog_post.html
Due: stylelint

Make containers full width on mobile for better UX
  static/css/mobile-full-width.css
  static/css/mobile-menu-override.css
  templates/public_site/base.html
Due: stylelint

Fix CTA button text wrapping and change mobile dropdown to purple background
  BROKEN_LINKS_FIX_PLAN.md
  COMPREHENSIVE_LINK_CHECK_FINAL_REPORT.md
  ENHANCED_LINK_CHECK_REPORT.md
  EXHAUSTIVE_BROKEN_LINKS_REPORT.md
  GITHUB_ISSUE_MISSING_IMAGES.md
  MISSING_INVESTVEGAN_CONTENT.md
  docs/comprehensive-broken-links-analysis-2025-01-24.md
  enhanced_link_checker.py
  enhanced_link_report.json
  ethicic/urls.py
  exhaustive_link_report.json
  public_site/management/commands/find_references.py
  public_site/management/commands/fix_links_simple.py
  public_site/management/commands/fix_remaining_links.py
  public_site/management/commands/update_investvegan_urls.py
  public_site/urls.py
  static/css/cta-button-fixes.css
  static/css/footer-fix.css
  static/css/mobile-full-width.css
  static/css/mobile-menu-override.css
  templates/public_site/base.html
Due: stylelint

Fix mobile dropdown white background issue - ensure all purple theme
  enhanced_link_checker.py
  static/css/cta-button-fixes.css
  static/css/mobile-menu-override.css
  templates/public_site/base.html
Due: stylelint

Fix mobile dropdown root cause - update mobile-menu-clean.css directly
  static/css/mobile-menu-clean.css
  static/css/mobile-menu-override.css
  templates/public_site/base.html
Due: stylelint

Add !important to mobile nav background to ensure precedence
  static/css/mobile-menu-clean.css
  templates/public_site/base.html
Due: stylelint

Remove search button and login dropdown from mobile header
  static/css/mobile-header-cleanup.css
  templates/public_site/base.html
Due: stylelint

Fix low-contrast text in strategy table labels for WCAG AA compliance
  static/css/strategy-nuclear-fix.css
  static/css/table-contrast-accessibility-fix.css
  templates/public_site/base.html
Due: stylelint

Replace problematic CSS files with clean implementations
  scripts/build-css.js
  static/css/16-homepage-clean.css
  static/css/garden-buttons-clean.css
  static/css/layers/40-adviser-page-clean.css
  templates/public_site/base.html
Due: stylelint, eslint

Create clean accessibility contrast fixes implementation
  scripts/build-css.js
  static/css/accessibility-contrast-fixes-clean.css
Due: stylelint, eslint
