Repository ethicalcapital/ethicic-public: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  pass_filenames: true
  require_serial: true

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix
  pass_filenames: true
  require_serial: true

Create clean login dropdown implementation
  scripts/build-css.js
  static/css/login-dropdown-clean.css
Due: stylelint, eslint

Create clean process dark mode implementation
  scripts/build-css.js
  static/css/process-dark-mode-clean.css
Due: stylelint, eslint

Create clean footer implementation with accessibility features
  scripts/build-css.js
  static/css/footer-clean.css
Due: stylelint, eslint

Create clean search component implementation
  scripts/build-css.js
  static/css/search-clean.css
Due: stylelint, eslint

Create comprehensive mobile responsive implementation
  scripts/build-css.js
  static/css/mobile-responsive-clean.css
Due: stylelint, eslint

Create comprehensive onboarding forms implementation
  scripts/build-css.js
  static/css/onboarding-forms-clean.css
Due: stylelint, eslint

Create comprehensive WCAG contrast compliance implementation
  scripts/build-css.js
  static/css/wcag-contrast-clean.css
Due: stylelint, eslint

CRITICAL: Fix missing homepage components in clean implementation
  static/css/16-homepage-clean.css
Due: stylelint

Complete CSS specificity cleanup implementation
  CLAUDE.md
  css-specificity-audit.txt
  static/css/16-homepage-clean.css
  static/css/garden-buttons-clean.css
  static/css/layers/40-adviser-page-clean.css
  templates/public_site/adviser_page.html
  templates/public_site/base.html
  templates/public_site/homepage_accessible.html
  templates/public_site/process_page.html
Due: stylelint

Apply automatic linting fixes to clean CSS files
  static/css/16-homepage-clean.css
  static/css/layers/40-adviser-page-clean.css
Due: stylelint

Phase 1: Clean up unused CSS files and implement critical clean versions
  static/css/blog-nuclear-button-fix.css
  static/css/dropdown-fix.css
  static/css/footer-clean.css
  static/css/header-text-clean.css
  static/css/strategy-nuclear-fix.css
  static/css/z-contact-emergency-fix.css
  static/css/z-final-button-contrast-fix.css
  templates/public_site/base.html
Due: stylelint

Create rational CSS architecture with consolidated systems
  css-consolidation-plan.md
  static/css/footer-clean.css
  static/css/garden-accessibility-clean.css
  static/css/garden-buttons-enhanced.css
  static/css/garden-forms-clean.css
  static/css/garden-layout-clean.css
  static/css/garden-layout-system.css
  static/css/header-text-clean.css
Due: stylelint

Update documentation for new rational CSS architecture
  .claude/docs/css-architecture-2025.md
  CLAUDE.md
  css_baseline.json
Due: none

Consolidate and clean up CSS documentation
  docs/CSS_ARCHITECTURE_CURRENT.md
  docs/CSS_OVERVIEW.md
  docs/README.md
  docs/archive/css-legacy-2025-01/CSS_ARCHITECTURE.md
  docs/archive/css-legacy-2025-01/CSS_ARCHITECTURE_SUMMARY.md
  docs/archive/css-legacy-2025-01/CSS_MAINTENANCE_GUIDE.md
  docs/archive/css-legacy-2025-01/css-integration-final-summary.md
  docs/archive/css-legacy-2025-01/css-override-elimination-plan.md
  docs/archive/css-legacy-2025-01/css-override-integration-summary.md
  docs/archive/css-legacy-2025-01/css-testing-checklist.md
Due: none

Update CLAUDE.md CSS documentation references
  CLAUDE.md
Due: none

Archive remaining outdated CSS and audit documentation
  docs/README.md
  docs/archive/accessibility-audit-2025/wcag_contrast_audit_report.md
  docs/archive/css-legacy-2025-01/override-mapping/garden-ui-override-mapping.md
  docs/archive/css-legacy-2025-01/override-mapping/override-files-to-remove.md
  docs/archive/link-analysis-2025/comprehensive-broken-links-analysis-2025-01-24.md
Due: none

Fix PostHog session recording causing localhost:5174 asset injection
  CLAUDE.md
  docs/DEVELOPMENT_WORKFLOW.md
  docs/MONITORING_SYSTEMS.md
  docs/README.md
  docs/archive/deployment-legacy-2025/DEPLOYMENT_OUTDATED.md
  templates/public_site/base.html
Due: none

Fix login dropdown and footer background issues
  static/css/login-dropdown-clean.css
  templates/public_site/base.html
Due: stylelint

Fix theme consistency issues with clean CSS architecture
  static/css/footer-clean.css
  static/css/garden-buttons-enhanced.css
Due: stylelint

Fix styling issues identified in comprehensive audit
  static/css/garden-buttons-enhanced.css
  static/css/header-height-fix.css
  templates/public_site/base.html
Due: stylelint

Fix sr-only class by removing undefined CSS variables
  static/css/critical.css
Due: stylelint

Fix remaining critical styling issues
  static/css/header-height-fix.css
Due: stylelint

Fix sr-only elements visibility and duplicate CSS selectors
  static/css/accessibility-sr-only-fix.css
  static/css/header-height-fix.css
  templates/public_site/base.html
Due: stylelint

Hide hamburger menu button on desktop screens
  static/css/header-height-fix.css
Due: stylelint

Complete CSS architecture migration and consolidation
  static/css/blog-button-fixes.css
  static/css/button-alignment-fix.css
  static/css/button-contrast-fixes.css
  static/css/button-on-color-fix.css
  static/css/container-structure-enhancements.css
  static/css/critical-fixes.css
  static/css/critical-fouc-prevention.css
  static/css/cta-button-fixes.css
  static/css/fix-white-line.css
  static/css/garden-buttons-clean.css
  static/css/header-button-fix.css
  static/css/layers/18-pricing.css
  static/css/layers/22-about-page.css
  static/css/layers/27-institutional-page.css
  static/css/layers/30-solutions-page.css
  static/css/layers/30-strategy-page.css
  static/css/layers/33-consultation-page.css
  static/css/layers/40-adviser-page-clean.css
  static/css/layers/40-adviser-page.css
  static/css/layers/43-garden-overview.css
  static/css/layers/99-breadcrumb-fix.css
  static/css/process-page-minimal.css
  static/css/search-visibility-ultimate-fix.css
  static/css/strategy-table-contrast-fix.css
  static/css/table-contrast-accessibility-fix.css
  templates/public_site/base.html
Due: stylelint

Add Tailwind CSS build step to production deployment
  public_site/management/commands/deploy.py
  static/css/tailwind-simple.css
Due: stylelint

URGENT: Fix production deployment - Add Tailwind CSS build to post-deploy.sh
  scripts/post-deploy.sh
Due: none

EMERGENCY: Commit built Tailwind CSS for immediate production fix
  static/css/dist/tailwind.min.css
Due: stylelint

CRITICAL FIX: Correct Tailwind CSS import syntax and rebuild
  static/css/dist/tailwind.min.css
  static/css/tailwind-simple.css
Due: stylelint

Fix Tailwind CSS build with proper import syntax
  static/css/bundles/garden-ui-complete.css
  static/css/bundles/garden-ui-core.css
  static/css/bundles/garden-ui-foundation.css
  static/css/dist/tailwind.min.css
  static/css/garden-ui-core.css
  static/css/garden-ui-forms.css
  static/css/garden-ui-layout.css
  static/css/garden-ui-public.css
  static/css/garden-ui-tokens.css
  static/css/garden-ui-typography.css
  static/css/tailwind-base.css
  static/css/tailwind-simple.css
Due: stylelint

Add navigation menu items and theme toggle
  templates/public_site/base_tailwind.html
Due: none

Add template debugging and cache busting
  templates/public_site/base_tailwind.html
Due: none

Add navigation menu setup to management command
  public_site/management/commands/setup_homepage.py
Due: none

Fix light/dark mode theme support with proper Tailwind configuration
  scripts/post-deploy.sh
  static/css/dist/tailwind.min.css
  static/css/tailwind-base.css
  static/css/tailwind-simple.css
  tailwind.config.js
  templates/public_site/base_tailwind.html
  templates/public_site/homepage_tailwind.html
Due: stylelint, eslint

Standardize header navigation and fix regulatory information
  templates/public_site/base_tailwind.html
  templates/public_site/contact_form_tailwind.html
  templates/public_site/faq_index.html
  templates/public_site/faq_index_tailwind.html
  templates/public_site/faq_page.html
  templates/public_site/faq_page_tailwind.html
  templates/public_site/process_page.html
Due: none

Fix WCAG contrast violations on blog page
  static/css/dist/tailwind.min.css
  templates/public_site/blog_index_tailwind.html
Due: stylelint

Fix stylelint configuration and exclude generated CSS files
  .pre-commit-config.yaml
  .stylelintignore
  css_baseline.json
Due: none

Path conditions:
  stylelint: any of: \.css$, but not: (?x)^(
  static/js/vendor/.*|
  node_modules/.*|
  \.git/.*|
  \.env.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  \.pyo$|
  \.coverage.*|
  htmlcov/.*|
  dist/.*|
  build/.*|
  \.egg-info/.*
)$

  eslint: any of: \.js$, but not: (?x)^(
  static/js/vendor/.*|
  node_modules/.*|
  \.git/.*|
  \.env.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  \.pyo$|
  \.coverage.*|
  htmlcov/.*|
  dist/.*|
  build/.*|
  \.egg-info/.*
)$

